@model HomeHunter.Models.BindingModels.Image.ImageUploadBindingModel
@using HomeHunter.Common

@{
 int  maxImageUploadLimit = GlobalConstants.ImageUploadLimit;
}
<form method="post" class="wrapper overflow-y-auto" enctype="multipart/form-data">
    @for (int i = 0; i < maxImageUploadLimit; i++)
    {
        <div class="sm-upl-box">
            <div class="sm-js--image-preview"></div>
            <div class="sm-upload-options">
                <label>
                    <input type="file" asp-for="Images" class="image-upload" accept="image/*" />
                </label>
            </div>
        </div>
    }

    <br />
    <div class="offset-md-2" style="padding-top:30px">
        <input type="submit" value="Продължи" class="btn btn-blue-h" />
    </div>
</form>
