@using Microsoft.AspNetCore.Identity
@using HomeHunter.Domain
@inject SignInManager<HomeHunterUser> SignInManager
@inject UserManager<HomeHunterUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <!-- Logo Starts -->
        <a class="navbar-brand" asp-area="Administration" asp-controller="Home" asp-action="Index"><img src="~/lib/images/hhlogo_small.png" alt="logo"></a>
        <!-- #Logo Ends -->

        <ul class="nav navbar-nav navbar-left scroll">
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Администратор: @UserManager.GetUserName(User)!</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right scroll">
            <li>
                <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item nav-link text-white"><i class="fas fa-sign-out-alt"></i>Изход</a>
            </li>
        </ul>

    }
    else
    {
        <!-- Logo Starts -->
        <a class="navbar-brand" asp-controller="Home" asp-action="AuthenticatedIndex"><img src="~/lib/images/hhlogo_small.png" alt="logo"></a>
        <!-- #Logo Ends -->

        <ul class="nav navbar-nav navbar-left scroll">
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Потребител: @UserManager.GetUserName(User)!</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right scroll">
            <li>
                <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item nav-link text-white"><i class="fas fa-sign-out-alt"></i>Изход</a>
            </li>
        </ul>
    }

}
else
{
    <!-- Logo Starts -->
    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/lib/images/hhlogo_small.png" alt="logo"></a>
    <!-- #Logo Ends -->

    <ul class="nav navbar-nav navbar-right scroll">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-left scroll">
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    </ul>
}

