
<div class="alert alert-info alert-dismissible" role="alert" style=" position: sticky; top: 100px; left: 500px; right: 130px; z-index: 1; width: 51%">
    <strong>Все още не сте верифицирали имейла си!</strong> За повторно изпращане на валидационен имейл, влезте в Настройки на профила!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
