@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
    <div class="container paddingElement index-table-container">
        <h3 class="text-danger">@ViewData["GenErrorMessage"]</h3>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

    </div>
