
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
    <div class="row" style="padding-left:60px">
        <div class="col-md-6 col-md-offset-3 details-real-estate-container">
            <h2 class="text-danger">@ViewData["Error"]</h2>

            <div class="container col-md-offset-1">
                <img src="~/lib/images/funny-error-404-background-design_1167-219.jpg" />
            </div>

        </div>
    </div>



