@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<hr />
<div class="container">
    <div class="paddingElement col-md-5 col-md-offset-3">
        <h4>Моля, проверете имейла си, за да зададете нова парола.</h4>
    </div>
</div>

