@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

    <hr />
<div class="container">
    <div class="paddingElement col-md-5 col-md-offset-3">
        <h4>
            Паролата Ви е обновена. Моля, <a asp-page="./Login">последвайте този линк, за да влезете в профила си.</a>
        </h4>
        
    </div>
</div>
