
@{
    ViewData["Title"] = "Index";

}
@if (Model == false)
{
    <partial name="_NonVerifiedEmailMessagePartial" />
}
<div class="container-fluid container-fluid-navpg">
    <div class="process">
        <h3 class="text-center wowload fadeInUp">Process</h3>
        <ul class="row text-center list-inline  wowload bounceInUp">
            <li>
                <a class="nav-link text-dark awsome-ic" asp-area="" asp-controller="RealEstates" asp-action="Create">
                    <span><i class="fa fa-folder"></i><b>Създай обява</b></span>
                </a>
            </li>
            <li>
                <a class="nav-link text-dark awsome-ic" asp-area="" asp-controller="Offer" asp-action="Index">
                    <span><i class="fa fa-list"></i><b>Активни обяви</b></span>
                </a>
            </li>
            <li>
                <a class="nav-link text-dark awsome-ic" asp-area="" asp-controller="Offer" asp-action="IndexInactive">
                    <span><i class="fa fa-pause"></i><b>Свалени обяви</b></span>
                </a>

            </li>

        </ul>
    </div>
</div>






