@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<br />
<div class="container col-md-5">
    <p>That function is currently not supported! :)</p>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
