@model HomeHunter.Models.ViewModels.Offer.OfferDetailsViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="~/lib/assets/modal_images.css">
<div class="row">
    <div class="col-md-6 details-real-estate-container">
        <br />
        <br />
        <h4 class="offset-3 home-hunter-center">Изтриване на обявата</h4>

        <partial name="_OfferDetailsPartial" />

        <br />
        <div class="col-md-offset-3" style="padding-left:50px">
            <form asp-action="Delete">
                <a type="button" asp-action="IndexInactive" class="btn btn-info-h btn-sm" style="width:180px">Назад</a>
                <input type="submit" value="Изтрий обявата" class="btn btn-alert-h btn-sm" />
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-md-6 details-real-estate-container paddingElement">

        <partial name="_RenderImagesPartial" />

    </div>
</div>

@section Scripts{

    <script src="~/lib/assets/modal_images.js" asp-append-version="true"></script>
}

