@model HomeHunter.Models.BindingModels.Offer.OfferEditBindingModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="paddingElement col-md-6 col-md-offset-3">
        <br />
        <h4>Редактирай обявата</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-90 mx-auto">
                <div class="text-left">
                    <label asp-for="OfferType"></label>
                </div>
                <select class="custom-select" id="realEstateType" asp-for="OfferType">
                    <option selected disabled>-- Изберете тип на обявата --</option>
                    <option>Продажба</option>
                    <option>Наем</option>
                </select>
                <span asp-validation-for="OfferType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" id="FloorNumber" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AgentName" class="control-label"></label>
                <input asp-for="AgentName" class="form-control" id="AgentName" />
                <span asp-validation-for="AgentName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OfferServiceInformation" class="control-label"></label>
                <textarea asp-for="OfferServiceInformation" class="form-control offer-service-field" rows="5"></textarea>
                <span asp-validation-for="OfferServiceInformation" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-around">
                @if (Model.IsOfferActive)
                {
                    <a type="button" asp-action="Index" class="btn btn-alert-h btn-sm" style="border-radius:5px; width:180px">Откажи</a>
                }
                else
                {
                    <a type="button" asp-action="IndexInactive" class="btn btn-alert-h btn-sm" style="border-radius:5px; width:180px">Откажи</a>
                }

                <input type="submit" value="Продължи" class="btn btn-info-h btn-sm" />
            </div>
        </form>

        <p>Полетата със * са задължителни!</p>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

